#video{
    width: 100%;
    border: 1px solid silver;
}

#photo{
    border: 1px solid silver;
    width: 100%;
}

#canvas{
    display: none;
}

#camera, #output{
    display: inline-block;
    min-width: 300px;
}

#getPhoto{
    display: block;
    position: relative;
    margin: 10px auto;
    bottom: 90px;
    background-color: #ae60f3;
    border: 1px solid #5e1291;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
}